<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <style>
        .toggle-password {
            float: right;
            margin-top: -27px;
            margin-right: 10px;
            position: relative;
            z-index: 2;
            cursor: pointer;
            font-size: 12px;
            color: gray;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="/">Bitsender</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/message/">Raw Message</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/params/">Parametric Message</a>
            </li>
        </ul>
    </div>
    <input type="text" id="host" value="http://localhost:8000/" class="ml-3 col-4 d-none">
    <button class="d-none btn btn-outline-success my-2 my-sm-0" type="button" id="config">Configure</button>
</nav>

{% block body %}
    {% block config %}
        <div class="container p-3">
            <div class="row col-12 pull-right">
                <div class="container-fluid d-none" id="configuration">
                    <form lass="form-inline container-fluid">
                        <div class="col-12 m-2">
                            <input name="url" class="form-control" placeholder="url">
                        </div>
                        <div class="col-12 m-2">
                            <input type="password"
                                   autocomplete="current-password"
                                   name="token" class="form-control" placeholder="token">
                            <span onclick="toggle(this)"
                                  class="toggle-password">show</span>
                        </div>
                        <div class="row m-2 float-right">
                            <input type="button" class="btn btn-primary save" value="Save">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}
    <div id="content">
        <div class="row col-12 ml-5 mr-5" id="info"></div>
        {% block content %}{% endblock content %}
    </div>
{% endblock %}
{% block script %}
    <script>
        var $url = $('input[name=url]');
        var $token = $('input[name=token]');
        var toggle = function (el) {
            var $el = $(el);
            switch ($el.html()) {
                case 'show':
                    $token.attr('type', 'text');
                    $el.html('hide');
                    break;
                case 'hide':
                    $token.attr('type', 'password');
                    $el.html('show');
                    break;
            }
        };

        $('#configuration .save').on('click', function () {
            $('#configuration').removeClass('d-block').addClass('d-none');
            $('#config').removeClass('d-none').addClass('d-block');
            $('#content').show();

            Cookies.set('url-{{ page }}', $url.val());
            Cookies.set('token-{{ page }}', $token.val());

            $('#info').html('Endpoint: ' + $url.val())

        });

        $('#config').on('click', function () {
            $('#configuration').removeClass('d-none').addClass('d-block');
            $('#config').removeClass('d-block').addClass('d-none');
            $('#content').hide();
        });

        $url.val(Cookies.get('url-{{ page }}'));
        $token.val(Cookies.get('token-{{ page }}'));
        $('#info').html('Endpoint: ' + $url.val())
    </script>
{% endblock script %}

</body>
</html>
